/* /* <a href='https://www.freepik.com/photos/food'>Food photo created by stockking - www.freepik.com</a> */
body{
    max-width: 375px;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

P{
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.623);
}

.title{
    font-size: 32px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(10px);
    text-align: center;
    line-height: 10px;
    height: 50px;
    color: #000;
}

.material-icons{
    font-size: 34px !important;
    font-weight: bold !important;
    line-height: 50px !important;
}

#alita-porcion{
    display: block;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.562);
}

#alita-porcion p{
    box-shadow: none;
}

.menu p{
    backdrop-filter: blur(3px);
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
    color: #000;
}
 
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35;
    backdrop-filter: blur(20px);
    color: rgb(255, 183, 0);
    text-align: center;
    margin-top: 20px;
    margin-top: 20px;
}

.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}

.window-notice .content {
    background: rgba(253, 245, 0, 0.912);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}

.content-text{
    text-align: center;
}

#close-button{
    color: #000;
    text-decoration: none;
}

/* oleider dev */